
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background: #034974;
    color: #fff;
}

.container {
    margin: 12%;
    width: 90%;
    max-width: 700px;

}
.container h1 {
    font-weight: 500;
    font-size: 45px;
}

.container h1 span {
    color: #03b40f;
    border-bottom: 4px solid #019f55;
    padding-bottom: 6px;
}


.display {
    width: 100%;
    margin: 60px auto;
    background: #fff;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 26px 20px;
    border-radius: 5px;
}


.ico-copy {
    font-size: 28px;
    color: rgb(31, 25, 25);
    cursor: pointer;
}
.display input {
    border: 0;
    outline: 0;
    font-size: 24px;
}

.container button {
    border: 0;
    outline: 0;
    background: #019f55;
    color: #fff;
    font-size: 22px;
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 13px;
    border-radius: 5px;
    cursor: pointer;
}

.ico-generate {
    font-size: 28px;
    padding-right: 13px;
}


